.button-section {
    @include flex-column;
    margin: 4rem 1rem 29px 1rem;
    padding: 1em;
    transition: $transition-slower;

    @include pc {
        margin: 4rem 1rem;
    }

    .button {
        @include button;
        position: relative;

        @include pc {}

        .overlay {
            @include flex-column;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 0;
            background-color: color(white-darkest);
            transition: $transition-slow;

            border: 2px color(white-darkest) solid {
                radius: 2em;
            }

            .teks {
                @include font2;
                color: color(white-light);
                font-size: 1rem;
                text-align: center;
            }
        }

        &:hover {
            .overlay {
                opacity: 1;
            }
        }
    }
}